body {
    font-size: 16px;
}

.bs-sidebar a {
    color: #2980b9 !important;
}

body {
    padding-top: 70px;
    background: #fff ;
}

h1,h2,h3 {
    font-family: 'Source Sans Pro', sans-serif;

}

body h1 {
    padding-bottom: 3px;
    border-bottom: 3px solid #1abc9c;
    font-weight: 700;
    margin-bottom: 1em;
}

h2 {
    border-bottom: 1px solid #bdc3c7;
}

.callout {
    text-align: center;
    margin-top: -30px;
    padding: 120px 0;
    border-bottom: 15px solid #8e44ad;
    background: rgba(155, 89, 182,0.7);
    color: #fff !important;
    margin-bottom: 10px;
}

.logo {
    background: #fff;
    border-radius: 130px;
    display: inline-block;
    padding: 30px;
    width: 250px;
    text-align: center;
    border: 10px solid #3498db;
    box-shadow: 10px 10px 10px rgba(70,70,70,0.5);
    margin: auto 0;
}

.layer {
    background: url(/img/layout.jpg) no-repeat;
    background-size: 100% auto;
}

.callout h1 {
    border-bottom: none;
    font-size: 6em;
    color: #fff;
    text-shadow: 1px 2px #666;
    margin-bottom: 0;
}
.callout h3 {
    font-style: italic;
    color: #fff;
    text-shadow: 1px 2px #666;
}


body pre {
    background: #ecf0f1;
}

code {
    color: #34495e ;
    background: #eee;
    padding: 3px;
    font-size: 14px !important;
}

body > .navbar {
    background: #8e44ad;
}

body .bs-sidebar {
    background: #ecf0f1;
    border-left: 3px solid #1abc9c;
    font-size: 1.2em;
}

.callout .well {
    background: rgba(236, 240, 241,0.3);
    text-align: left;
}

body>footer {
    color: #bdc3c7;
    padding: 20px 0;
    background: #2c3e50;
    margin-bottom: 0px;
}
footer a {
    color: #fff;
    text-decoration: underline;
}

.features {
    /*background: #ecf0f1;*/
    /*color: #fff;*/
}

.right {
    float: right;
}