.layout {
    padding: 20px;
    margin: auto 0;
    text-align: center;
    background: #2c3e50;
}
.layout h3 {
    font-weight: bold;
}
.header {
    background: #3498db;
}
.header a {
    color: #fff !important;
}

body {
    font-size: 19px !important;
}

body .menubar {
    background: #ecf0f1 !important;
}

.col1, .col2 {
    width: 30%;
    display: block;
    float: left;
}
.col1 {
    padding-right: 1%;
}

.clear {
    clear: left;
}

.outset {
    float: right;
}